h1 {
    display: flex;
    justify-content: center;
}

.expense-form {
    display: flex;
    justify-content: center;
 }


#expense-date{
     min-width: 100px;
 }

 #expense-description{
    min-width: 285px;
}

#expense-location{
    min-width: 280px;
}

#expense-cost{
    min-width: 100px;
}

#expense-table {
    width: 800px;
}